# Dependencies
node_modules
npm-debug.log

# Build output
.next
out

# IDE
.idea
.vscode

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Testing
coverage
.nyc_output

# Misc
*.md
*.log
.env*
!.env.example
